n8n/02-approval-and-send.json
{
  "name": "02 - Approval and Send",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 5 }] }
      },
      "id": "2a2a2a2a-0001-4000-8000-000000000001",
      "name": "Schedule - Poll Pending",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://app:8000/v1/leads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{ "name": "approval_status", "value": "pending" }]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "2a2a2a2a-0002-4000-8000-000000000002",
      "name": "HTTP Request - Get Pending Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#lead-approvals",
        "text": "=New lead draft awaiting review: *{{ $json.company_name }}* ({{ $json.domain }})\nScore: {{ $json.score }}\nReasoning: {{ $json.reasoning }}\n\nSubject: {{ $json.outreach_subject }}\nBody: {{ $json.outreach_body }}",
        "otherOptions": {}
      },
      "id": "2a2a2a2a-0003-4000-8000-000000000003",
      "name": "Slack - Post Draft With Approve or Reject",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "path": "approval-callback",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "2a2a2a2a-0004-4000-8000-000000000004",
      "name": "Webhook - Slack Button Callback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://app:8000/v1/leads/{{ $json.body.domain }}/approval",
        "sendBody": true,
        "jsonBody": "={{ JSON.stringify({ decision: $json.body.decision }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "2a2a2a2a-0005-4000-8000-000000000005",
      "name": "HTTP Request - Record Decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "2a2a2a2a-cond-0000",
              "leftValue": "={{ $json.approval_status }}",
              "rightValue": "approved",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "2a2a2a2a-0006-4000-8000-000000000006",
      "name": "IF - Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://app:8000/v1/leads/{{ $json.domain }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "2a2a2a2a-0007-4000-8000-000000000007",
      "name": "HTTP Request - Get Full Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 420]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.contacts[0].email }}",
        "subject": "={{ $json.outreach_subject }}",
        "message": "={{ $json.outreach_body }}",
        "options": {}
      },
      "id": "2a2a2a2a-0008-4000-8000-000000000008",
      "name": "Gmail - Send Approved Outreach",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://app:8000/v1/leads/{{ $('HTTP Request - Get Full Lead').item.json.domain }}/sent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "2a2a2a2a-0009-4000-8000-000000000009",
      "name": "HTTP Request - Mark Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 420]
    }
  ],
  "connections": {
    "Schedule - Poll Pending": {
      "main": [[{ "node": "HTTP Request - Get Pending Leads", "type": "main", "index": 0 }]]
    },
    "HTTP Request - Get Pending Leads": {
      "main": [[{ "node": "Slack - Post Draft With Approve or Reject", "type": "main", "index": 0 }]]
    },
    "Webhook - Slack Button Callback": {
      "main": [[{ "node": "HTTP Request - Record Decision", "type": "main", "index": 0 }]]
    },
    "HTTP Request - Record Decision": {
      "main": [[{ "node": "IF - Approved", "type": "main", "index": 0 }]]
    },
    "IF - Approved": {
      "main": [[{ "node": "HTTP Request - Get Full Lead", "type": "main", "index": 0 }], []]
    },
    "HTTP Request - Get Full Lead": {
      "main": [[{ "node": "Gmail - Send Approved Outreach", "type": "main", "index": 0 }]]
    },
    "Gmail - Send Approved Outreach": {
      "main": [[{ "node": "HTTP Request - Mark Sent", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "notes": "Two independent trigger chains in one workflow. (1) Schedule Trigger polls GET /v1/leads?approval_status=pending every 5 minutes and posts each draft to Slack with interactive Approve/Reject buttons (configure the buttons' callback URL to this workflow's second webhook path, 'approval-callback', posting {domain, decision}). (2) The Webhook receives that callback, records the decision via POST /v1/leads/{domain}/approval, and on approval fetches the full lead, sends the outreach via Gmail, then marks it sent via POST /v1/leads/{domain}/sent. Requires n8n credentials: httpHeaderAuth (X-API-Key), Slack, Gmail OAuth. Not imported or run as part of Phase 10."
  }
}